{% extends 'main/base.html' %}
{% load static %}

{% block title %}
  {{title}}
{% endblock %}

{% block extra_head_links %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="page">
<body>
  <br><br>
    <div class="filtration" style="font-size:14px;">
      <br>
      <form method=GET>
        {% csrf_token %}
        
          <p class="name"><i>С какого числа искать</i>{{ myFilter.form.start_date }}</p>
          <p class="name"><i>По какое</i>{{ myFilter.form.end_date }}</p>
          <p style="font-size:16px; color: red;"><i>Наименование суда:</i>{{ myFilter.form.trial }}</p>
          <p style="font-size:16px; color:#f44133;"><i>Судопроизводство:</i>{{ myFilter.form.proceeding }}</p>
          <p style="font-size:16px; color: red;"><i>Первая подкатегория:</i>{{ myFilter.form.first_dispute }}</p>
          <p style="font-size:16px; color: red;"><i>Вторая подкатегория:</i>{{ myFilter.form.second1_dispute }}</p>
          <p style="font-size:16px; color: red;"><i>Вторая подкатегория:</i>{{ myFilter.form.second2_dispute }}</p>
          <p style="font-size:16px; color: red;"><i>Третья подкатегория:</i>{{ myFilter.form.third_dispute }}</p>
        <br>
        <button class="btn btn-dark" type="submit">Применить</button>
        <input class="btn btn-dark" type="reset" value="Очистить">
        <form action="POST">
          <button class="btn btn-dark">Отменить поиск</button>
        </form>
        <br>
        <a class="btn btn-dark" href="{% url 'main:card_text' %}">Скачать карточки постановлений</a><br><br><br>
      </form>
    </div>
    <br> 
  <br><br><br>
  
    <table class="table table-bordered table" height="20">
      <tr style="background-color: #bdbcbc58;" class="row1">
       
          <td><em>Наименование </em></td>
          <td><em>Мотивировочная часть</em></td>
          <td><em>История рассмотрения</em></td>
          <td><em>Дата вынесения</em></td>
          <td></td>
       
      </tr>
      <tr>
      {% for card in card_list %}
        <td><a href="{% url 'main:show-card' card.id %}">{{ card|lower|capfirst  }} | {{ card.case_number }}</a></td>
        <center>
          {% if card.motivation %}
            <td style="text-align: center;">
              {% if card.motivation == "Есть" %}
                <p class="pictogramas"><img src="{% static 'img/check.png' %}" style="height:25px;"></p></td>
              {% else %}
                <p class="pictogramas"><img src="{% static 'img/remove.png' %}" style="height:25px;"></p></td>
              {% endif %}
            {% else %}
            <td style="text-align: center;">Не указано</td>
          {% endif %}
          {% if card.review %}
            <td style="text-align: center;">
              {% if card.review == "Есть" %}
                <p class="pictogramas"><img src="{% static 'img/check.png' %}" style="height:25px;"></p></td>
              {% else %}
                <p class="pictogramas"><img src="{% static 'img/remove.png' %}" style="height:25px;"></p></td>
              {% endif %}
          {% else %}
            <td><center>Не указано</center></td>
          {% endif %}
          <td>{{ card.date }}</td>
        </center>
        {% if user.is_superuser %}
          <td align="right" colspan="2"><a href="{% url 'main:delete' card.id %}"  class="btn btn-outline-danger btn-sm " style="margin-bottom:10px;">Удалить</a>
          <br>
            <a href="{% url 'main:edit' card.id %}" class="btn btn-outline-dark btn-sm">Редактировать</a></td>
        {% else %}
          <td align="right" colspan="2"><a href="{% url 'main:card_full_text' card.id %}"  class="btn btn-outline-dark btn-sm " style="margin-bottom:10px;">Открыть полный текст постановления</a></td>
        {% endif %}
      </tr>    
      {% endfor %}
    </table> 
  </div>
  </body>
{% endblock %}